<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    {{!-- <div class="col-md-2">
        <button class="close"><i class="fas fa-times"></i></button>
    </div> --}}
    <div class="col-lg-3">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
    </div>
  </div>

</div>