{{> links}}

<body>
    <div class="col-xlg-12 col-lg-12 col-sm-12 col-12 ">
        <div class="row">
            <div class="col-xlg-6 col-lg-6 col-sm-12 col-12 mb-5 mb-lg-1 mb-xlg-1 mb-sm-5">
                <div id="advert-box">
                    <div class="row">
                        <div class="col-xlg-12 col-lg-12 col-sm-12 col-12">
                            <div class="col-sm-12 col-lg-12 col-xlg-1 col-md-12 mt-sm-5 mt-lg-5 mt-xlg-1 mb-md-5 pb-md-5"></div>
                            <div class="col-sm-12 col-lg-12 col-xlg-1 col-md-12 mt-sm-5 mt-lg-5 mt-xlg-1 mb-md-5 pb-md-5"></div>
                            <div class="col-sm-12 col-lg-12 col-xlg-1 col-md-12 mt-sm-5 mt-lg-5 mt-xlg-1"></div>
                            <div class="text-center mb-md-5 pb-md-5" id="advert-content-box">
                                <p class="text-center ">
                                    own a <img src="/img/icon/rural (1).png" height="97" alt=""> farm
                                </p>
                                <p class="text-center ">
                                    <img src="/img/icon/business-and-finance.png" height="97" alt=""> agro invest
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{{body}}}
        </div>
    </div>
    <div class="col-lg-12">
        <nav class="navbar fixed-bottom navbar-light bg-light">
            <a class="text-secondary disable" href="#"></a>
        </nav>
    </div>
</body>