{{> links}}

<body>
    <div class="col-xlg-12 col-lg-12 col-sm-12 col-12 ">
        <div class="row">
            <div class="col-xlg-6 col-lg-6 col-sm-12 col-12">
                <div id="advert-box">
                    <div class="row">
                        <div class="col-xlg-6 col-lg-6 col-sm-12 col-12">
                            <div id="advert-content-box">
                                <p>
                                    money <i class="fas fa-2x fa-exchange-alt"></i>
                                    food
                                </p>
                                <p>
                                    <i class="fas fa-2x fa-tractor"></i> invest in agro businesses
                                </p>
                                <p>
                                    own a <i class="fas fa-2x fa-seedling"></i> farm
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{{body}}}
        </div>
    </div>
    <div class="col-lg-12">
        <nav class="navbar fixed-bottom navbar-light bg-light">
            <a class="text-secondary" href="#">base</a>
        </nav>
    </div>
</body>