{{> links}}

<body>
    <div class="col-xlg-12 col-lg-12 col-sm-12 col-12 ">
        <div class="row">
            <div class="col-xlg-6 col-lg-6 col-sm-12 col-12">
                <div id="advert-box">
                    <div class="row">
                        <div class="col-xlg-6 col-lg-6 col-sm-12 col-12">
                            <div class="col-md-12 mt-md-5 pt-md-5"></div>
                            <div class="col-md-12 mt-md-5 pt-md-5"></div>
                            <div class="col-md-12 mt-md-5 pt-md-5"></div>
                            <div class="mt-md-5 text-center pt-md-5" id="advert-content-box">
                                <p class="text-center align-middle">
                                    money <i class="fas fa-2x fa-exchange-alt"></i>
                                    food
                                </p>
                                <p class="text-center align-middle">
                                    <i class="fas fa-2x fa-tractor"></i> agro invest
                                </p>
                                <p class="text-center align-middle">
                                    own a <i class="fas fa-2x fa-seedling"></i> farm
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{{body}}}
        </div>
    </div>
    <div class="col-lg-12">
        <nav class="navbar fixed-bottom navbar-light bg-light">
            <a class="text-secondary disable" href="#"></a>
        </nav>
    </div>
</body>