<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> links}}
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light " id="lg-view" >
                
                        <div class="col-md-4">
                            <div class="row">
                                <a class="navbar-brand" href="/cropbank"><img src="/img/logo/trie.png" height="37px" width="37" alt=""></a>
                                <a class="nav-item nav-link active" href="/cropbank"><i class="fas fa-house-user "></i></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                
                        </div>
                        <div class="col-md-4 ">
                            <div class="row float-right">

                                <a class="nav-item nav-link" href="/updateProfile"><img class="rounded-circle" src="/img/{{user.ProfilePixes.0.pix}}" height="30px" width="30px" alt=""></a>
                                <a class="nav-item nav-link" href="#"><i class="far fa-bell"></i></a>
                                <a class="nav-item nav-link" href="/chatRoom"><i class="far fa-comments"></i></a>
                                <a class="nav-item nav-link" id="myBtn" href="#" onclick="popup()"><i class="fas fa-chevron-down" style="color: blue;"></i></a>

                            </div>
                        </div>
            </nav>
             
    <div class="col-md-12 mt-md-5">
        <div class="row">
        <div class="col-md-12 mt-md-4">
            {{> popup}}
            {{{body}}}
        </div>
    </div>
    </div>
    <nav class="navbar fixed-bottom navbar-light" id="sm-view">
        <div class="row">
            <a class="nav-item nav-link active col-4 text-center" href="/cropbank"><i class="fas fa-house-user "></i></a>
        <a class="nav-item nav-link col-4 text-center" href="#"><i class="far fa-bell"></i></a>
        <a class="nav-item nav-link col-4 text-center" href="/updateProfile"><img class="rounded-circle" src="/img/{{user.ProfilePixes.0.pix}}" height="23px" width="23px" alt=""></a>
        </div>
    </nav>
</body>
<script src="/js/script.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/popup.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/node_modules/socket.io-client/dist/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/js/client.js" type="text/javascript"></script>
<script src="/js/chayUI.js" type="text/javascript"></script>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</html>

