<div class="row">
    <div class="col-md-2">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">
                Cras justo odio
            </a>
            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
            <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12"></div>
            <div id="chatingwith">
                {{user.name}}
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    chat
                </div>                
                    {{#each chat}}
                        <h4>{{chat}}</h4> 
                    {{/each }}
                <div class="col-md-12">
                    
                </div>
                <form method="POST" action="/chatRoom">
                    <fieldset>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="message" name="message" placeholder="enter message">
                            </div>
                            <div class="col-md-3">
                                <input type="submit" value="send" id="send" class="btn btn-primary" onclick="refreshPage()">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>