<div>
    <div class="card mb-3 col-md-8" >
        <div class="row no-gutters">
            <div class="col-md-4" >
                <div class="col-md-12 float-left mt-md-3" >
                    <img class="card-img-top" src="/img/1b903707-a35b-4674-9638-f341f6f39638.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{user.name}}</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
<form action="/farm" method="POST">
    <fieldset>
        <legend>Own a farm</legend>
        <div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}" >
        </div>
        <div class="input-group col-md-4 mb-md-3">
            <input type="text" name="name" id="" class="form-control" placeholder="Farm Name">
        </div>
        <div class="input-group col-md-4 mb-md-3">
            <select name="type" id="" class="form-control">
                <option value="ANIMAL FARM">ANIMAL FARM</option>
                <option value="CROP FARM">CROP FARM</option>
            </select>
        </div>
        <div class="input-group col-md-4 mb-md-3">
            <input type="text" name="produce" id="" class="form-control" placeholder="Farm Produce">
        </div>
        <div class="input-group col-md-4 mb-md-3">
            <input type="submit" value="Ok" class="form-control btn-secondary">
        </div>
    </fieldset>
</form>