<div class="row">
    <div class="col-lg-7 col-12" id="ling-home">
        <div class="col-12 mb-lg-5" >
            <h5 class="position-fixed mt-4 mb-5" style="line-height: 2px; background-color: white !important;">Home <hr> </h5>
        </div>
        <div class="col-12 small-view">
            <div class="row">
                <div class="col-12 " >
                    <textarea  name="" class="col-12 border-0" id="autoresizing"   rows="1" placeholder="Create a Ling"></textarea>
                </div>
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4">
                    <button class="col-12 btn btn-primary btn-sm">Ling</button>
                </div>
            </div>
        </div>

        <div class="col-12 mt-lg-3 mt-5" id="ling-scroll" style="overflow: scroll;">
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Media object</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    <div class="row " >
                        <div class="col-1"><span></span><button class="btn text-danger"><i class="far fa-heart"></i><sub>1</sub></button></span></div>
                        <div class="col-1"><span><button class="btn text-info"><i class="far fa-comment"></i><sub>1</sub></button></span></div>
                        <div class="col-1"><span><button class="btn text-success"><i class="fas fa-retweet"></i><sub>1</sub></button></span></div>
                    </div>
                </div>
                <img class="rounded-circle float-right mr-md-5" src="/img/{{user.ProfilePixes.0.pix}}" height="40px" width="40px" alt="">
            </div><hr>

        </div>
        
        
    </div>
    <div class="col-5 small-view">
        <div class="col-12 mb-lg-5">
            <h5 class="position-fixed mt-4" style="line-height: 2px;">Matters arising <hr></h5>
        </div>

        <div class="col-lg-12 " id="ling-scroll" style="overflow: scroll;max-height: 90vh;">
           <button class="col-12 btn text-left"> Trends</button><hr>
        </div>
    </div>
</div>