<div class="row">
    <div class="col-6" id="trends" style="min-height: 100vh;">
        <div class="col-12 mb-5">
            <h5 class="position-fixed mt-4" style="line-height: 2px;">Agro Business <hr> </h5>
        </div>
        <div class="col-12" id="ling-scroll" style="overflow: scroll;max-height: 90vh;">
           <button class="col-4 mt-3 btn text-left">Shops</button><hr>
        </div>
    </div>
    <div class="col-6" id="trends" style="min-height: 100vh;">
        <div class="col-12 mb-5">
            <h5 class="position-fixed mt-4" style="line-height: 2px;">Lings Reactions <hr> </h5>
        </div>
        <div class="col-12" id="ling-scroll" style="overflow: scroll;max-height: 90vh;">
           <button class="col-4 mt-3 btn text-left">Shops</button><hr>
        </div>
    </div>
</div>