<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: white;">
    <button class="btn " onclick="backward()"><i class="fas fa-angle-left"></i></button>
</nav>


<div class="col-12 mt-5">
    
    <div class="col-12"><a href="" class="btn col-12"><p class="float-left" style="font-size: x-large;"><i class="fas fa-marker"></i> Edit profile</p></a></div>
    <div class="col-12"><a href="" class="btn col-12"><p class="float-left" style="font-size: x-large;"><i class="fas fa-user-cog"></i> account settings</p></a></div>
    <div class="col-12"><a href="/logout" class="btn col-12"><p class="float-left" style="font-size: x-large;"><i class="fas fa-sign-out-alt"></i> signout</p></a></div>
    
</div>