<div class="col-xlg-6 col-lg-6 col-sm-12 col-12">
    <div id="auth">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-xlg-12 col-md-9 col-sm-12 col-12">
                <div id="signin">
                    <form action="/signup" method="POST">
                        <fieldset class="form-group">
                            <legend class="form-group">signup</legend>
                            <div class="form-row">
                                <div>
                                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                </div>
                                <div class="col-lg-5 mb-3 input-group">
                                    <input type="text" name="name" placeholder="First Name" id=""
                                        class="form-control">
                                </div>
                                <div class="col-lg-7 mb-3 input-group">
                                    <input type="email" name="email" placeholder="Email" id="" class="form-control">
                                </div>
                            </div>
                            <div class="form-row mt-md-2">
                                <div class="col-lg-5 mb-3 input-group">
                                    <input type="tel" name="tell" placeholder="Phone" id="" class="form-control">
                                </div>
                                <div class="col-lg-7 mb-3 input-group">
                                    <select name="country" class="form-control" id="">
                                        <option value="country">country</option>
                                        {{#each countryList}}
                                        <option value="{{this}}">{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-row mt-md-2">
                                
                                <div class="col-lg-7 mb-3 input-group">
                                    <input type="password" name="password" placeholder="password" class="form-control"
                                        id="">
                                </div>
                                <div class="col-lg-5 mb-3 input-group ">
                                    <button type="submit" class="btn btn-secondary col-12"><i class="fas fa-user-plus"></i></button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-md-2 col-xlg-2 col-sm-2 col-12"></div>
            <div class="col-md-12 col-xlg-8 col-sm-9 col-12 mt-xlg-5 mt-sm-3 mt-3 mt-lg-3">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <p><img src="/img/logo/trie.png" height="97" alt=""></p>
                        <p>Dive in to see how,<br>you can make you crop and <br>save you money as food</p>
                        <p class="mt-lg-5 mt-xlg-5 mt-sm-5 mt-5">
                            Signup with FoodFarm
                        </p>
                    </div>

                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <div class="mb-5 col-12 col-md-10 ">
                        {{> signup_btn}}
                    </div>
                    </div>
            </div>

            <div class="col-md-12 col-12">
                <div class="row">
                    {{!-- <div class="col-md-1"></div> --}}
                </div>
            </div>

        </div>
    </div>
</div>