{{> links}}
<body>
    <div class="col-12">
        <div id="signup">
            <div class="row">
                <div class="col-lg-12 mr-3 mt-4 mt-lg-5 mr-lg-5">
                    <p class=" text-right"><a href="/signup">signup</a></p>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-12 col-lg-4 mr-lg-3">
                    <div id="imgeHolder">
                        <img src="/img/page-img/signin.png" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div id="signUpPush"></div>
                    <form action="/signin" method="POST">
                        <fieldset class="form-group">
                            <legend class="form-group">signin</legend>
                            <div class="form-row">
                                <div class="input-group col-lg-12 col-12">
                                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                </div>
                                <div class="input-group col-lg-6 col-12  mb-3">
                                    <input type="text" name="email" placeholder="Email or Phone" id=""
                                        class="form-control col-12" required>
                                </div>
                                <div class="input col-lg-4 col-12 mb-3">
                                    <input type="password" name="password" placeholder="Password" id=""
                                        class="form-control" required>
                                </div>
                                <div class="input-group col-lg-2 col-12">
                                    <button type="submit" class="btn btn-secondary form-control col-12"><i class="fas fa-sign-in-alt"></i></button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-lg-4 col-12"></div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
</body>