{{> links}}

<body>
    <div class="col-12">
        <div id="startupBaseBox">
            <div class="row">
                
                <div class="col-12 col-lg-4">
                    <div id="imgeHolder">
                        <img src="/img/page-img/startup.png" alt="">
                        
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div id="descriptionPush"></div>
                    <p>lingro a cummunity for a farm <p/><p>and it's investors</p>
                </div>
                <div class="col-12 col-lg-4 mt-5">
                    <div id="descriptionPush"></div>
                    <div id="authPush"></div>
                    <div id="authBox">
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-8 col-lg-12">
                                <p><a href="/signup">signup<i class="fas fa-user-plus"></i></a>
                                <a href="/signin">signin<i class="fas fa-sign-in-alt"></i></a></p>
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{{> scripts}}