<div class="row">
        
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4" id="profilePix">
            <img src="/img/{{user.ProfilePixes.0.pix}}" id="pix" class="card-img rounded-circle" height="200" alt="...">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{user.name}}</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <form action="/updateProfile" method="POST" enctype="multipart/form-data" role="form">
            <div class="form-row col-md-12">
                <div class="input-group col-12">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                </div>
                <div class="input-group col-md-8">
                    <input type="file" name="pix" id="" class="col-md-12 form-control">
                </div>
            </div>
            <div class="input-group col-md-3 mt-md-2">
                <input type="submit" value="submit" class="col-md-12 form-control btn btn-secondary" onclick="refreshPage()">
            </div>
        </form>
    </div>
        
</div>

<script src="/js/script.js"></script>