#banner,
#content-box,
#work-box,
#sud-work-box,
#sub-work-box2 {
    background-color: whitesmoke;
}

#nav-bar-big-device {
    background-color: white;
}

#banner {
    height: 3in;
}

#content-box {
    height: 2in;
}

#work-box,
#work-box2 {
    height: 5in;
}

#sud-work-box {
    height: 2.5in;
}

#sub-work-box2 {
    height: 2.5in;
}

#advert-content-box {
    font-size: x-large;
}

#profilePix {
    background-color: whitesmoke;
}

#pix {
    border: solid thick white;
    padding: 3mm;
    background-color: white;
    position: relative;
    left: 3mm;
}

#username {
    font-size: xx-large;
}

#mbl-nav {
    background-color: white;
}

@media(min-width: 1224px) {
    #advert-content-box {
        /* position: relative;
        top: 2.6in;
        left: 2.6in; */
    }
    #advert-box {
        height: 100vh;
    }
    #msgBox {
        overflow: scroll;
        min-height: 4.15in !important;
        max-height: 3.3in !important;
    }
    #msgBox::-webkit-scrollbar {
        width: 7px;
        height: 2px;
        display: none;
    }
    #msgBox::-webkit-scrollbar-track {
        -webkit-transition: ease-in-out;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
    }
    #msgBox::-webkit-scrollbar-thumb {
        border-radius: 3px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    #pix {
        height: 200;
    }
    #lg-view {
        display: block;
    }
    #sm-view {
        display: none;
    }
}

@media(max-width: 480px) {
    #lg-view {
        display: none;
    }
    #sm-view {
        display: block;
    }
    #advert-box {
        height: 3in;
    }
    #nav-bar-sm-device {
        background-color: white;
    }
    #advert-content-box {
        position: absolute;
        top: .6in;
        left: 1.4cm;
    }
    #advert-box {
        height: 3in;
    }
    #pix {
        height: 10px;
        width: 10px;
    }
}