#banner,
#content-box,
#work-box,
#sud-work-box,
#sub-work-box2 {
    background-color: whitesmoke;
}

body {
    font-family: 'Kanit', sans-serif !important;
}

legend {
    font-family: 'Gloria Hallelujah', cursive !important;
}

#signup {
    height: 100%;
}

#startupBaseBox {
    height: 100%;
    font-family: 'Gloria Hallelujah', cursive !important;
}

div#authBox>div>div>p {
    word-spacing: 3em;
}

div#authBox {
    font-family: 'Kanit', sans-serif;

}

#nav-bar-big-device {
    background-color: white;
}

#banner {
    height: 3in;
}

#content-box {
    height: 2in;
}

#work-box,
#work-box2 {
    height: 5in;
}

#sud-work-box {
    height: 2.5in;
}

#sub-work-box2 {
    height: 2.5in;
}

#advert-content-box {
    font-size: x-large;
}

#profilePix {
    background-color: whitesmoke;
}

#farm-box-description {
    /* overflow-y: scroll !important; */
    max-height: 1in;
}

#farm-box-description::-webkit-scrollbar {
    width: 7px !important;
}



.div-scroll {
    overflow-y: scroll;
}

#pix {
    border: solid thick white;
    padding: 3mm;
    background-color: white;
    position: relative;
    left: 3mm;
}

#username {
    font-size: xx-large;
}

#mbl-nav {
    background-color: white;
}

@media(min-width: 992px) {
    #ling-scroll {
        max-height: 77vh;
        min-height: 67vh;
    }

    .big-view {
        display: none;
    }

    #autoresizing {
        font-size: x-large;
        height: 2em;
        border: 3px solid whitesmoke;
    }

    #autoresizing:focus {
        border: white solid thin;
    }

    #ling-home {
        height: 100vh;
        border-right: whitesmoke 2px solid;
        border-left: whitesmoke 2px solid;
    }

    #trends {
        border-left: whitesmoke 2px solid;
    }

    #descriptionPush {
        height: 50%;
    }

    #signUpPush {
        height: 27%;
    }

    #ling {
        max-height: 2.7cm;
    }

    #startup {
        background-position: center;
    }

    #ling-content {
        max-height: 65px;
        overflow: scroll;
    }

    #ling::-webkit-scrollbar {
        visibility: hidden;
    }

    #farm-box-description {
        max-height: 7rem;
    }

    #farm-display {
        max-height: 2in;
    }

    #news-box {
        display: block;
        position: fixed;
        top: 10%;
        left: 67%;
    }

    #advert-content-box {
        /* position: relative;
        top: 2.6in;
        left: 2.6in; */
    }

    #advert-box {
        height: 100vh;
    }

    #msgBox {
        overflow: scroll;
        min-height: 4.15in !important;
        max-height: 3.3in !important;
    }

    #msgBox::-webkit-scrollbar,
    #ling-content::-webkit-scrollbar,
    #ling-scroll::-webkit-scrollbar {
        width: 7px;
        height: 2px;
        display: none;
    }

    #msgBox::-webkit-scrollbar-track {
        -webkit-transition: ease-in-out;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
    }

    #msgBox::-webkit-scrollbar-thumb {
        border-radius: 3px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    #pix {
        height: 200;
    }

    #lg-view {
        display: block;
    }

    #sm-view {
        display: none;
    }
}

@media(max-width: 768px) {
    #mobile-nav {
        height: 10vh;
    }

    #main-body {
        min-height: 87vh;
    }

    #ling-home {
        min-height: 85vh;
        max-height: 85vh;
    }

    #ling-scroll {
        max-height: 82vh;
        /* min-height: 75vh; */
    }

    #nav-sm-btm {
        position: absolute;
        bottom: 0em;
        top: 3em;
    }

    .small-view {
        display: none;
    }

    #sub-hiding-content {
        height: 95vh;
    }

    #authPush {
        height: 33vh;
    }

    div#imgeHolder>img {
        height: 100%;
    }

    div#imgeHolder {
        height: 27vh;
        font-size: large;
    }

    div#authBox {}

    #news-box {
        display: none;
    }

    #advert-box {
        height: 3in;
    }

    #nav-bar-sm-device {
        background-color: white;
    }

    #advert-content-box {
        position: absolute;
        top: .6in;
        left: 1.4cm;
    }

    #advert-box {
        height: 3in;
    }

    #pix {
        height: 10px;
        width: 10px;
    }
}